@import url('https://fonts.googleapis.com/css2?family=REM:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

:root{
    --bg-heading-clr: #EFEFEF;
    --bg-main-clr: #131225;
    --primary-txt-clr: #3ab598;
    --secondary-txt-clr: #131225;
    --label-txt-clr: #9d9c9c;
    --btn-hover-clr: #211f3f;
    --cross-btn-light-clr: #ff5757;
    --cross-btn-dark-clr: #f63131;
    --read-bg-light-clr: #A6E88F;
    --read-bg-dark-clr: #7ee05a;
    --read-txt-clr:#1E8641;
    --not-read-bg-light-clr: #FF7070;
    --not-read-bg-dark-clr: #f15f5f;
    --not-read-txt-clr: #AD0909;
}

body{
    min-height: 100%;
    font-family: 'REM', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    background-color: var(--bg-main-clr);
}

header{
    background-color: var(--bg-heading-clr);
    padding: 10px 20px;
}

header > h1{
    color: var(--primary-txt-clr);
    font-weight: 700;
    font-size: clamp(2rem, 2.2vw, 2.4rem);
    margin: 0 0 0 5%;
}

.modal{
    width: max(25%, 300px);
    padding: 30px 20px;
    border: none;
    border-radius: 4px;
    margin: auto auto;
}

.modal form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: inherit;
}

.modal form label{
    color: var(--label-txt-clr);
    font-size: 1.2rem;
    font-weight: 400;
}

.modal form input{
    color: var(--secondary-txt-clr);
    font-size: 1.2rem;
    font-weight: 500;
}

.modal form input{
    border: none;
    outline: none;
}

.modal form .data-text{
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.modal form .data-text input{
    border-bottom: 2px solid #b8b7b7;
    font-family: inherit;
}

.modal form .data-text input:focus{
    border-bottom: 2px solid var(--primary-txt-clr);
}

.modal form .data-checkbox {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 8px;
}

.modal form .data-checkbox input{
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
}

.modal form .modal-actions{
    display: flex;
    gap: 10px;
    font-family: inherit;
}

.modal form .modal-actions #cancel-modal{
    background-color: #e2e0e0;
    color: var(--secondary-txt-clr);
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
}

.modal form .modal-actions #submit-modal{
    background-color: #e2e0e0;
    color: var(--secondary-txt-clr);
    padding: 8px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    font-family: inherit;
}

.add-book{
    background-color: var(--bg-main-clr);

    display: flex;
    justify-content: center;
    padding: 32px 16px;
}


.add-book .add-book-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-txt-clr);
    gap: 8px;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 6px;
}

.add-book .add-book-btn:hover{
    background-color: var(--btn-hover-clr);
    transition: 0.2s ease-in-out;
}

.book-list{
    background-color: var(--bg-main-clr);
    flex: 1;
}

.book-list > .book-container{
    width: max(45%, 280px);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.book-list > .book-container .card{
    background-color: var(--bg-heading-clr);
    padding: 16px 20px;
    border-radius: 4px;
}

.book-list > .book-container .card .card-header{
    display: flex;
    align-items: center;
    gap: 16px;
}

.book-list > .book-container .card .card-header .title-container{
    flex: 1;
    display: grid;
    grid-template: 1fr 1fr;
}

.book-list > .book-container .card .card-header .title-container > h1{
    color: var(--secondary-txt-clr);
    font-weight: 600;
    font-size: clamp(1.4rem, 2.5vw, 1.6rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-list > .book-container .card .card-header .delete-book{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    color: var(--cross-btn-light-clr);
    cursor: pointer;
}

.book-list > .book-container .card .card-header .delete-book:hover{
    color: var(--cross-btn-dark-clr);
    transition: 0.2s ease-in-out;
}

.book-list > .book-container .card .card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-list > .book-container .card .card-body .read,
.book-list > .book-container .card .card-body .not-read,
.book-list > .book-container .card .card-body .author, 
.book-list > .book-container .card .card-body .pages{
    font-weight: 400;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    margin-top: 4px;
}


.book-list > .book-container .card .card-body .read{
    background-color: var(--read-bg-light-clr);
    color: var(--read-txt-clr);
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.book-list > .book-container .card .card-body .read:hover{
    background-color: var(--read-bg-dark-clr);
    transition: 0.2s ease-in-out;
}

.book-list > .book-container .card .card-body .not-read{
    background-color: var(--not-read-bg-light-clr);
    color: var(--not-read-txt-clr);
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.book-list > .book-container .card .card-body .not-read:hover{
    background-color: var(--not-read-bg-dark-clr);
    transition: 0.2s ease-in-out;
}

footer{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 8px;
    background-color: var(--bg-main-clr);
    color: var(--primary-txt-clr);
    font-size: 1rem;
    margin-top: 16px;
}

footer a{
    text-decoration: none;
}